{:source-paths ["src"]
 :dependencies [[reagent "1.0.0"]
                [tick/tick "0.5.0"]
                [testdouble/clojurescript.csv "0.5.1"]]
 :dev-http {8080 ["public/"
                  "target/public/"]}
 :builds {:dev {:target :browser
                :output-dir "target/public/dev"
                :asset-path "/dev"
                :modules {:main {:init-fn demo.core/render!}}
                :devtools {:after-load demo.core/render!}}}}
