[
 [#inst "2022-07-19T14:17" "go outside"]
 [#inst "2022-07-19T14:21" "go inside"]
 [#inst "2022-07-19T14:47" "go into hallway"]
 [#inst "2022-07-19T14:51" "go inside"]
 [#inst "2022-07-19T14:58" "turn on both fans"]
 [#inst "2022-07-19T16:04" "turn off oven fan"]
 [#inst "2022-07-19T15:20" "canna goes into bedroom"]
 [#inst "2022-07-19T18:38" "canna leaves bedroom"]
 [#inst "2022-07-19T18:49" "turn on oven fan"]
 [#inst "2022-07-19T19:40" "turn off oven fan"]
 [#inst "2022-07-19T21:29" "turn on both fans"]

 [#inst "2022-07-20T03:25" "turn off both fans"]
 [#inst "2022-07-20T08:24" "turn on both fans"]
 [#inst "2022-07-20T09:45" "turn off oven fan"]
 [#inst "2022-07-20T10:00" "canna enters bedroom"]
 [#inst "2022-07-20T12:20" "canna leaves bedroom"]
 [#inst "2022-07-20T13:41" "canna leaves apartment"]
 [#inst "2022-07-20T14:05" "canna returns"]
 [#inst "2022-07-20T11:39" "move sensor to bedroom"]

 [#inst "2022-07-21T06:19" "close bedroom door, 1 person in bedroom, 1 out"]
 [#inst "2022-07-21T07:44" "open bedroom door, 2 ppl inside"]
 [#inst "2022-07-21T08:45" "open windows and balcony door"]
 [#inst "2022-07-21T09:37" "move sensor back to main room"]
 [#inst "2022-07-21T09:50" "raf leaves apartment"]
 [#inst "2022-07-21T15:37" "close balcony door (window still open)"]
 [#inst "2022-07-21T16:29" "close blinds"]
 [#inst "2022-07-21T16:44" "raf enters apartment"]
 [#inst "2022-07-21T18:15" "turn on oven fan"]
 [#inst "2022-07-21T18:45" "turn off oven fan"]
 ]
